.detail-breadcumb {
	font-size: 14px;
	color: #9B9B9B;
}

.show-image {
	width: 100%;
	height: 32vw;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	border-radius: 8px;
}

.images-more {
	width: 100%;
	padding: 10px;
}
.slick-track .slick-slide {
	padding: 5px;
}
.image-item img {
	object-fit: cover;
	width: 100%;
	height: auto;
	border-radius: 8px;
}

.detail-title {
	font-size: 28px;
	color: #222222;
	font-family: 'Metropolis Bold';
	margin-bottom: 0px;
}
.txt-small {
	font-size: 16px;
	color: #9B9B9B;
}
.txt-small #brand-name {
	margin-bottom: 10px;
}
.detail-rating {
	margin-top: 5px;
	margin-bottom: 20px;
}
.detail-rating .people {
	font-size: 12px;
	color: #9B9B9B;
}
.react-rater-star {
	font-size: 25px;
	font-weight: bold;
}
.txt-small #price-txt {
	margin-bottom: -10px;
}
.detail-price {
	font-size: 33px;
	font-family: 'Metropolis Bold';
	color: #222222;
	margin-top: -5px;
}
.txt-color {
	font-size: 16px;
	color: 16px;
	font-weight: bold;
	margin-top: 15px;
	font-family: 'Metropolis Bold';
}

.color-item {
	width: 44px;
	height: 44px;
	padding: 3px;
	border-radius: 50%;
	box-shadow: none;
	margin-right: 5px;
	cursor: pointer;
	box-sizing: border-box;
	border: 1px solid #FFFFFF;
}
.color-item div {
	height: 36px;
	width: 36px;
	border-radius: 50%;
}
.color-active {
	border-color: var(--main-color);
}

.size-qty {
	margin-top: 25px;
}
.sizes {
	margin-right: 40px;
}
.size-product, .quantity-product {
	margin-top: 10px;
}
.min-btn, .plus-btn {
	height: 36px;
	width: 36px;
	border-radius: 50%;
	box-shadow: 0px 0px 4px rgba(142, 142, 142, 0.25);
}
.min-btn {
	background-color: #D4D4D4;
}
.min-btn span, .plus-btn span {
	position: relative;
	font-size: 16px;
	font-family: 'Metropolis Bold';
	top: -6px;
	left: 4px;
	
}
.min-btn span {
	color: #FFFFFF;
	left: 3px;
}
.current-size {
	font-family: 'Metropolis Bold';
	margin: 0 10px;
	line-height: 36px;
}

.btn-detail {
	width: 100%;
	height: 46.5px;
	border-radius: 24px;
	border: 1.5px solid #222222;
	box-sizing: border-box;
	text-align: center;
	cursor: pointer;
	margin-top: 10px;
}
.btn-detail span {
	font-size: 14px;
	color: #222222;
	line-height: 46.65px;
}
.btn-buy-detail {
	background-color: var(--main-color);
	border-color: var(--main-color);
	height: 46.5px;
}

.btn-buy-detail span {
	color: #FFFFFF;
}

.txt-condition {
	font-size: 20px;
	color: #222222;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 10px;
}
.txt-condition.condition {
	color: var(--main-color);
	margin-top: -10px;
}
pre.desc-text {
	margin-top: 5px;
	font-size: 14px;
	color: #9B9B9B;
	font-family: 'Metropolis';
}
.box-review {
	margin-right: 30px;
}
.big-num {
	font-size: 60px;
	font-weight: bold;
	color: #222222;
}
.small-num {
	font-size: 20px;
	color: #9B9B9B;
}
.rating-star {
	margin-top: -20px;
}
.rating-star .react-rater-star {
	font-size: 30px;
}

.star-num {
	width: 30px;
}
.star-num .react-rater-star {
	font-size: 18px;
}
.count-people {
	width: 200px;
}
.count-people span {
	font-size: 14px;
	color: #9B9B9B;
	line-height: 26px;
}
.bar-people {
	width: 100px;
	height: 5px;
	border-radius: 25px;
	background-color: var(--main-color);
	margin-top: 10px;
}

.cs-divider {
	width: 100%;
	height: 2px;
	background-color: #D4D4D4;
	margin: 40px 0px;
}