.cs-category-item {
	width: 95%;
	height: 15vw;
	overflow: hidden;
	box-sizing: border-box;
	border-radius: 12px;
	background-size: auto 136px;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
}
.cs-category-item span {
	font-family: 'Metropolis Bold';
	font-size: 30px;
	font-weight: bold;
	color: #FFFFFF;
	line-height: 15vw;
}

.category-section .slick-prev {
	position: absolute;
	top: 6.5vw;
	left: -30px;
	z-index: 20;
}
.category-section .slick-next {
	position: absolute;
	top: 6.5vw;
	right: 10px;
	z-index: 20;
}
.category-section .slick-prev::before, .category-section .slick-next::before {
	display: none;
}
.category-section .slick-prev img, .category-section .slick-next img {
	padding: 17px 19.5px;
	border-radius: 50%;
	background-color: #FFFFFF;
	box-shadow: 0px 4px 10px rgba(181, 181, 181, 0.25);
	z-index: 20;
}

@media screen and (max-width: 767.98px) {
	.cs-category-item {
		background-size: auto 86px;
	}
}

@media screen and (max-width: 585px) {
	.cs-category-item {
		height: 85px;
	}
	.cs-category-item span {
		line-height: 85px;
	}
}