:root {
	--main-color: #DB3022;
}

@font-face {
	font-family: 'Metropolis';
	src: url(./assets/fonts/Metropolis-Regular.otf);
}
@font-face {
	font-family: 'Metropolis Bold';
	src: url(./assets/fonts/Metropolis-Bold.otf);
}
@font-face {
	font-family: 'Metropolis Thin';
	src: url(./assets/fonts/Metropolis-Thin.otf);
}

body {
  font-family: 'Metropolis';
	background-color: #FFFFFF;
}

.cs-title {
    font-size: 34px;
	font-weight: bold;
	font-family: 'Metropolis Bold';
	color: #222222;
}

.cs-subtitle {
	font-size: 12px;
	color: #9B9B9B;
	font-family: 'Metropolis Thin';
}
