:root {
	--main-color: #DB3022;
}

@font-face {
	font-family: 'Metropolis';
	src: url(./assets/fonts/Metropolis-Regular.otf);
}
@font-face {
	font-family: 'Metropolis Bold';
	src: url(./assets/fonts/Metropolis-Bold.otf);
}
@font-face {
	font-family: 'Metropolis Thin';
	src: url(./assets/fonts/Metropolis-Thin.otf);
}

body {
  font-family: 'Metropolis';
	background-color: #FFFFFF;
}
